.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  width: 100%;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
}
.fighter-preview___info p{
  text-align: center;
}
